.fa-heart{
    font-size: 25px;
}
.heart{
    height: 45px;
    width: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__anim--mask {
        position: absolute;
    }
    &:hover .heart__anim--mask{
        font-weight:bold;
        color: $color-primary;
        animation: zoom .4s linear;

    }
    @keyframes zoom{
        0%{transform:scale(0) }
        100%{transform:scale(1) }
    }
}
     