.waiting{
    margin: 0;
    padding: 0;
    font-family: 'shrikhand',sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    z-index:999; 
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8e44ad;
    color: #9b59b6;
    animation: loader 3s linear  ;
    .loader{
        height: 100px;
        width: 100px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    &__pattern{
        border-radius: 50px;
        border: 7px solid rgba(255,255,255, .2);
    }
    &__pattern::after{
        content:'';
        position: absolute;
        top: -7px;
        left:-7px;
        bottom: -7px;
        right: -7px;
        border-radius:50px;
        border: 7px solid transparent;
        border-right-color: #FFF;
        border-left-color: #FFF;
        animation: spin 1s linear infinite;
    }
    &__pattern::before{
        content:'';
        position: absolute;
        top: 5px;
        left:5px;
        bottom: 5px;
        right: 5px;
        border-radius:50px;
        border:7px solid transparent;
        border-right-color: #FFF;
        border-left-color: #FFF;
        animation: spin 1.5s linear infinite;
        opacity: 0.5;
        
    }
    @keyframes spin {
        0%{ transform: rotate(0deg);}
        100%{ transform: rotate(360deg);}
    }
   
}
 @keyframes loader {
     
        0%{ opacity: .9;}
        20%{ opacity: .8;}
        40%{ opacity: .6;}
        60%{ opacity: .4;}
        80%{ opacity: .1;}
        99%{ opacity: 0 ;}
        
    }