.resto{
    @include flex;
    padding: 20px;
    gap: 1.5em;
    .resto-wrapper{
        @include flex;
        gap: 30px;    
        .resto-col{
            @include flex;
            gap: 30px;
        }
    }
}
.resto-card{
    @include flex;
    width:100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition:  .1s;
    transition-timing-function:cubic-bezier(0.4, 0, 1, 1);
    &:hover{
        transform: scale(1.055);
        box-shadow: 2px 5px 31px 0px rgba(0,0,0,0.66);
    }
}
.resto-img{
    position: relative;
}
.resto-photo{
    height: 13rem;
    width: 100%;
    object-fit: cover;
}
.sticker{
    padding:  8px 13px;
    border-radius: 8%;
    @include flex;
    justify-content: center;
    align-items: center;
    background: $color-tertiary;
    top: 20px;
    right: 20px;
    position: absolute;
    @include darken-txt;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5em 0 .75em;
    .resto-txt{
        padding: 10px;
        @include flex;
        align-items:flex-start;
        .resto-name{
            margin: 0 auto .45em;
        }
    }
}
@media screen and (min-width:855px) {
      .process-list{
    
        margin-left: auto;
        margin-right: auto;
      }
        .resto-wrapper{
            @include flex;
            flex-direction: row;
            max-width: 80vw;
            margin-left: auto;
            margin-right: auto;
        }
        .resto .resto-wrapper .resto-col {
            flex-direction: row;
        }  
        h2{
            padding:0 0 15px
        }
        #tittleResto{
            padding-bottom: 50px;
        }
}