
@mixin banner {
    margin: 5px 0 0 0 ;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    row-gap: 10px;
    background-color: $dark-grey ;
}

@mixin header{
    height: 65px;
    text-align: center;
    padding: 22px 0 48px 0;
}

@mixin bouton-site { 
    padding :18px 25px;
    border-radius: 50px;
    border:none;
    color: white;
    background:linear-gradient(356deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
}

@mixin darken-txt{
    color:  darken($color-tertiary, 40%);
}

@mixin flex{
    display: flex;
    flex-direction: column; 
}
