
// Variables projet OHMYFOOD///////////////////


$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;


$basic-grey: #F6F6F6;
$dark-grey :#EAEAEA ;
$footer-color:#353535 ; 
$buttons-color:linear-gradient(356deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);


// Variables projet OHMYFOOD//////////////////